{% load static %}
{% load render_table from django_tables2 %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Targeted Genes</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="{% static "assets/css/styles.css" %}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{% static "assets/css/screen.css" %}" />
</head>
<body>
<div class="main">
  <div class="header">
    <div class="header_resize">
      <div class="logo">
        <h1><a href="http://127.0.0.1:8000/">Database<small> Information Regarding Smad 2, 3 and 4</small></a></h1>
      </div>
      <div class="menu_nav">
        <ul>
          <li><a href="http://127.0.0.1:8000/">Home <small>home page</small></a></li>
          <li><a href="http://127.0.0.1:8000/cancer/">Cancers<small>cancer cell lines</small></a></li>
          <li class="active"><a href="http://127.0.0.1:8000/smads/">Smads <small>targeted genes</small></a></li>
          <li ><a href="http://127.0.0.1:8000/targetedgenes/">Targeted Genes <small>genes informations</small></a></li>
          <li><a href="http://127.0.0.1:8000/admin/">Admin <small>admin login</small></a></li>
        </ul>
      </div>
      <div class="clr"></div>
    </div>
  </div>

  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
          <h2>Targeted Genes with Smads</h2>
          <div class="clr"></div>
          <p> </p>
          {% render_table smadtable %}
          <p> </p>
  
        </div>
      </div>
      
      <div class="sidebar">
        <div class="gadget">
          <h2 class="star">Types of Smads</h2>
          <div class="clr"></div>
          <ul class="sb_menu">
            <li><aa href="#">Smad 4</aa></li>
            <li><aa href="#">Smad 2 and 3</aa></li>
          </ul>
        </div>
        
      </div>
        
      </div>
      <div class="clr"></div>
    </div>
  </div>
  
  <div class="footer">
    <div class="footer_resize">
      <p class="lf">&copy; Copyright <a href="http://127.0.0.1:8000/">Integrative TGFBeta Database</a>.</p>
      <p class="rf">Done by <a href=""> Cassandra Teo</a></p>
      <div class="clr"></div>
    </div>
  </div>
</div>
<div align=center>This template  downloaded form <a href='http://all-free-download.com/free-website-templates/'>free website templates</a></div></body>
</html>
